################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VN_DashBoard/FileContentIndex/08e7cfb8-7b1f-44cf-b532-53c5cff522bc.vsidx
/.vs/VN_DashBoard/FileContentIndex/45e97458-0f88-4ed0-a8f1-c7f46cf28c93.vsidx
/.vs/VN_DashBoard/FileContentIndex/482c92d7-e510-4252-921f-9976b3ef46a5.vsidx
/.vs/VN_DashBoard/FileContentIndex/4dd9a5dd-ff5d-40be-ba5c-ce0b99947565.vsidx
/.vs/VN_DashBoard/FileContentIndex/e18e5229-a6cd-446c-9956-9b9402d51dec.vsidx
/.vs/VN_DashBoard/v17/.suo
